<footer class="footer bg-dark pt-4 mt-5">
    <div class="container">
        <div class=" footer-wrapper d-flex">
            <div>
                <img src="../assets/logo.svg">
                <ul>
                    <li>
                        Search Spaces
                    </li>
                    <li>Search by City </li>
                    <li>Top Rated Spaces </li>
                    <li>Coworking Map</li>
                    <li>Coworking Map</li>
                    <li>Shared Office Space Meeting Rooms</li>
                    <li>TEDx Host Spaces</li>
                </ul>
            </div>
            <div>
                <h5 class="text-center">Popular Search</h5>
                <ul>
                    <li>
                        Search Spaces
                    </li>
                    <li>Search by City </li>
                    <li>Top Rated Spaces </li>
                    <li>Coworking Map</li>
                    <li>Coworking Map</li>
                    <li>Shared Office Space Meeting Rooms</li>
                    <li>TEDx Host Spaces</li>
                </ul>
            </div>
            <div>
                <h5 class="text-center">Type Coworking</h5>
                <ul>
                    <li>
                        Search Spaces
                    </li>
                    <li>Search by City </li>
                    <li>Top Rated Spaces </li>
                    <li>Coworking Map</li>
                    <li>Coworking Map</li>
                    <li>Shared Office Space Meeting Rooms</li>
                    <li>TEDx Host Spaces</li>
                </ul>
            </div>
            <div>
                <h5 class="text-center">Type Coworking</h5>
                <ul>
                    <li>
                        Search Spaces
                    </li>
                    <li>Search by City </li>
                    <li>Top Rated Spaces </li>
                    <li>Coworking Map</li>
                    <li>Coworking Map</li>
                    <li>Shared Office Space Meeting Rooms</li>
                    <li>TEDx Host Spaces</li>
                </ul>
            </div>
            <div>
                <h5 class="text-center">LOCATIONS</h5>
                <ul>
                    <li>
                        Search Spaces
                    </li>
                    <li>Search by City </li>
                    <li>Top Rated Spaces </li>
                    <li>Coworking Map</li>
                    <li>Coworking Map</li>
                    <li>Shared Office Space Meeting Rooms</li>
                    <li>TEDx Host Spaces</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copy-right-section d-flex  py-3">
    <div class="">© Yourlogo 2020. All rights reserved</div>
    <div class=""> Design by Themadbrains Uiux Studio</div>
</div>